#--------------------------------------------------------------------
# Salin file ini menjadi ".env" di root project CI4 Anda, lalu sesuaikan.
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'

database.default.hostname = localhost
database.default.database = repository_knowledge_center
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi

# Ukuran maksimal upload disesuaikan juga di php.ini (upload_max_filesize, post_max_size)
