CI_ENVIRONMENT = development
app.baseURL = 'http://localhost/repo-app/public/'
database.default.hostname = localhost
database.default.database = repository_knowledge_center
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.port = 3306
